* { margin: 0; padding: 0; }
	
article,

aside,

footer,

header,

nav,

section {

  display: block;

}
html {
	margin: 0;
	border: 0;
	padding: 0;
}
body {
  background-color: black;
  margin: 10px;
  padding: 15px;
}
h1 {
  color: white;
  font-size:16px;
}
h2 {
	color:white;
	size: 32px;
}
h3
{
	color:white;
	size:15px;
}
h4
{
	color: white;
	size: 8px;
}

p {
  color: red;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
li a:hover {
  background-color: #330000;
}
table {
 width: 50%;
 border-collapse: collapse;
 color:red;
}
table, th, tr {
  border: 1px solid red;
  color:red;
}
tm
{
color: red;
}
thh
{
border: 1px #FF9900;
color:	#FF9900
}
div {border: 2px solid #bbb; border-radius: 8px}